@media only screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 112px);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 144px);
  }
}

@media only screen and (max-width: 993px) {
  .container {
    max-width: calc(100% - 64px);
  }
}

@media only screen and (max-width: 993px) {
  .container {
    max-width: calc(100% - 32px);
  }
}
