@mixin flex-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-full-stretch {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin flex-start {
  display: flex;
  align-items: start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin transition($duration: 0.3s, $timing: linear) {
  transition: $duration $timing;
}
