// fonts
$font-Trajan: "Trajan Pro", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-Manrope: "Manrope", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-dark: #282828;
$color-grey: #949494;
$color-grey-2: #6C6C6C;
// colors
